

 /*-----------------------------------------------------------------------------------*/
 /*  1.  BASE
/*-----------------------------------------------------------------------------------*/

 html {
     font-size: 62.5%;
     -webkit-font-smoothing: antialiased;
     height: 100%;
 }

 body {
     word-wrap: break-word;
     -ms-word-wrap: break-word;
     font-size: 16px;
     margin: 0;
     line-height: 1.7;
     background-color: #ffffff;
     font-family: 'Lato';
 }

 img {
     max-width: 100%;
     height: auto;
     display: block;
 }

 ul {
     padding-left: 40px;
     -webkit-padding-start: 40px;
     -moz-padding-start: 40px;
     padding-start: 40px;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: 600;
     line-height: 1.4;
     margin-bottom: 20px;
     margin-top: 0;
     color: #000000;
     font-family: 'Poppins';
 }

 .main-menu a {
     font-family: 'Montserrat';
     font-weight: 600;
 }


 h1 {
     font-size: 42px;
     font-size: 4.2rem;
     line-height: 1.125;
 }

 h2 {
     font-size: 36px;
     font-size: 3.6rem;
     line-height: 1.25;
 }

 h3 {
     font-size: 24px;
     font-size: 2.4rem;
     line-height: 1.25;
 }

 h4 {
     font-size: 18px;
     font-size: 1.8rem;
     line-height: 1.3;
 }

 h5 {
     font-size: 16px;
     font-size: 1.6rem;
     line-height: 1.375;
 }

 h6 {
     font-size: 14px;
     font-size: 1.4rem;
     line-height: 1.4;
 }

 a {
     cursor: pointer;
     outline: none;
     color: #000000;
     text-decoration: none !important;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
 }

 a:hover,
 a:active,
 a:focus {
     color: #f2b410;
     text-decoration: none;
     outline: none;
 }

 button:focus {
     outline: 0;
 }

 p {
     margin: 0 0 20px;
 }

 blockquote {
     margin: 1rem 0;
     padding-left: 10px;
     text-align: left;
     font-style: normal;
     border-left: 5px solid #f2b410;
     z-index: 1;
     position: relative;
 }

 blockquote,
 q {
     quotes: none;
 }

 blockquote p {
     position: relative;
     font-size: 23px;
     line-height: 1.6;
     font-weight: bold;
     margin-bottom: 0;
     z-index: 30;
     font-style: italic;
 }

 table {
     width: 100%;
     max-width: 100%;
     margin-bottom: 20px;
     border-color: #dcd7ca;
 }

 textarea {
     width: 100%;
     border-width: 1px;
     border-style: solid;
     background-color: #efefef;
     border-color: #efefef;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     max-width: 100%;
 }

 thead {
     vertical-align: bottom;
     white-space: nowrap;
 }

 th,
 td {
     border: 0.1rem solid #dcd7ca;
     line-height: 1.4;
     margin: 0;
     overflow: visible;
     padding: 0.5em;
 }

 th {
     font-weight: bold;
 }

 th a {
     text-decoration: underline !important;
 }

 th a:hover {
     color: #DA0D2B;
 }

 *::-moz-selection {
     background-color: #f2b410;
     color: #ffffff;
 }

 *::selection {
     background-color: #f2b410;
     color: #ffffff;
 }

 button {
     border: none;
     background-image: none;
     background: transparent;
     cursor: pointer;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 li {
     list-style: unset;
 }

 ::placeholder {
     /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: #cdcdcc;
     opacity: 1;
     /* Firefox */
 }

 :-ms-input-placeholder {
     /* Internet Explorer 10-11 */
     color: #cdcdcc;
 }

 ::-ms-input-placeholder {
     /* Microsoft Edge */
     color: #cdcdcc;
 }

 .clearfix:before,
 .clearfix:after {
     content: "";
     display: table;
 }

 figure {
     max-width: 100%;
     height: auto;
     margin: 0;
 }

 .clearfix:after {
     clear: both;
 }

 input {
     height: 40px;
     padding: 0 15px;
     outline: 0;
     border-width: 1px;
     border-style: solid;
     background-color: #efefef;
     border-color: #efefef;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     max-width: 100%;
 }

 .clearfix {
     zoom: 1;
 }

 .container {
     max-width: 1080px;
     margin: 0 auto;
     padding-right: 15px;
     padding-left: 15px;
 }

 .row {
     margin-left: -15px;
     margin-right: -15px;
 }

 .column {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding-right: 15px;
     padding-left: 15px;
     max-width: 100%;
 }

 .column {
     display: inline-block;
     float: left;
 }

 .column-1 {
     width: 100%;
 }

 .column-2 {
     width: 50%;
 }

 .column-3 {
     width: 33.33333%;
 }

 .column-2of3 {
     width: 66.66667%;
 }

 .column-4 {
     width: 25%;
 }

 .column-5 {
     width: 20%;
 }

 .column-25 {
     width: 25%;
 }

 .column-75 {
     width: 75%;
 }

 .column-40 {
     width: 40%;
 }

 .column-60 {
     width: 60%;
 }

 .text-left {
     text-align: left;
 }

 .text-right {
     text-align: right;
 }

 .text-center {
     text-align: center;
 }

 .button-basic-1 {
     font-family: "Montserrat", Sans-serif;
     font-size: 13px;
     font-weight: 500;
     text-transform: uppercase;
     display: inline-block;
     color: #ffffff;
     padding: 10px 30px;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
     border-color: #ffffff;
     background-color: rgba(0, 0, 0, 0);
     border-style: solid;
     border-width: 2px 2px 2px 2px;
     border-radius: 0px 0px 0px 0px;
 }

 .button-basic-1:hover {
     transform: translateY(8px);
     color: #ffffff;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
     background-color: rgba(255, 255, 255, 0.2);
 }

 .button-basic-2 {
     font-family: "PT Sans", Sans-serif;
     font-size: 1.3rem;
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 2px;
     fill: #ffffff;
     color: #ffffff;
     background-color: #f2b410;
     border-style: solid;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
     border-width: 2px 2px 2px 2px;
     border-color: #f2b410;
     border-radius: 50px 50px 50px 50px;
     padding: 15px 30px;
 }

 .button-basic-2:hover {
     transform: translateY(8px);
     color: #ffffff;
     background-color: #f2b410;
     border-color: #f2b410;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
 }

 .button-basic-3 {
     font-family: "Montserrat", Sans-serif;
     font-size: 13px;
     font-weight: 500;
     text-transform: uppercase;
     fill: #000000;
     padding: 10px 30px;
     color: #000000;
     background-color: rgba(0, 0, 0, 0);
     border-style: solid;
     border-width: 2px 2px 2px 2px;
     border-color: #000000;
     border-radius: 0px 0px 0px 0px;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
 }

 .button-basic-3:hover {
     color: #ffffff;
     background-color: #f7c51e;
     border-color: #f7c51e;
     transform: translateY(8px);
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;

 }

 .main-wrapper {
     position: relative;
 }

 .main-wrapper.flow {
     overflow: hidden;
 }

 .content {
     position: relative;
     overflow: hidden;
     max-width: 100%;
     height: 100%;
     width: 100%;
 }

 .the-title {
     position: relative;
 }

 .head-title-1 {
     color: #ffffff;
     margin-top: 0px;
     margin-bottom: 20px;

 }

 .head-title-2 {
     font-size: 1.2rem;
     font-weight: bold;
     text-transform: uppercase;
     line-height: 1em;
     letter-spacing: 3px;
     margin-top: 0px;
     color: #f2b410;
     margin-bottom: 20px;
 }

 span.title-end {
     font-family: 'Roboto';
     color: #f2b410;
 }

 .gedung-text,
 .gedung-text p {
     font-family: 'Lato';
     font-weight: 400;
     text-align: inherit;
     font-size: 15px;
     line-height: 26px;
     word-spacing: 0px;
     letter-spacing: 0px;
 }

 .text-white {
     color: #ffffff;
 }

 .background-overlay {
     background-color: #000000;
     opacity: 0.9;
     transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     position: absolute;
 }

 table {
     width: 100%;
     max-width: 100%;
     margin-bottom: 20px;
     border-color: #dcd7ca;
 }

 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 /*-----------------------------------------------------------------------------------*/
 /*  2.  HEADER
/*-----------------------------------------------------------------------------------*/

 header {
     position: relative;
 }

 .main-nav {
     vertical-align: middle;
     float: left;
     background-color: transparent;
     margin-top: 0;
     margin-right: 20px;
 }

 .header-content-left {
     position: relative;
     max-width: 100%;
     min-width: 0;
     overflow: hidden;
     float: left;
     margin: 0 auto 0 0;
 }

 .header-stle-1 .info-wrap {
     position: relative;
     display: inline-block;
     margin-right: 7px;
 }

 .header-content-center {
     text-align: center;
     margin: auto;
 }

 .header-content-right {
     display: block;
     -webkit-flex: 0 1 auto;
     -ms-flex: 0 1 auto;
     flex: 0 1 auto;
     float: right;
 }

 /*-----------------------------------------------------------------------------------*/
 /*  2a.  HEADER-STYLE-1
/*-----------------------------------------------------------------------------------*/

 .header-style-1 {
     background-color: transparent;
     z-index: 101;
     position: absolute;
     right: 0;
     left: 0;
     padding-top: 50px;
     padding-bottom: 50px;
     -webkit-transition: all 0.5s ease 0s;
     -moz-transition: all 0.5s ease 0s;
     transition: all 0.5s ease 0s;
 }

 .header-style-1.header-alt {
     position: relative;
     background-color: #ffffff;
 }

 .header-expanded {
     position: absolute;
     left: 0;
     background-color: #000000;
     right: 0;
     top: 0;
     -webkit-transition: revert;
     -moz-transition: all 0.5s ease 0s;
     transition: all 0.5s ease 0s;
 }

 .header-expanded .main-nav {
     width: 100%;
     margin: auto;
     float: none;
     background: #000000;
 }

 .logo {
     margin-left: 0;
     margin-right: 0;
 }

 .header-alt.header-expanded .main-nav {
     background-color: #ffffff;
 }

 .header-style-1 ul.sm-clean>li+li {
     margin-left: 30px;
 }

 .header-style-1 ul.sm-clean>li {
     padding-top: 20px;
     padding-bottom: 0;
     position: relative;
 }

 .header-style-1 .menu-link:hover {
     color: #ffffff;
 }

 .header-style-1.header-alt .menu-link:hover {
     color: #000000;
 }

 .header-style-1 a.menu-link:before {
     content: '';
     position: absolute;
     bottom: -10px;
     left: 0;
     width: 100%;
     height: 2px;
     background: #f2b410;
     -webkit-transform: scale3d(0, 5, 1);
     transform: scale3d(0, 5, 1);
     -webkit-transform-origin: 0% 50%;
     transform-origin: 0% 50%;
     -webkit-transition: -webkit-transform 0.3s;
     transition: transform 0.3s;
     -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
     transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
 }

 .header-style-1 a.menu-link.active:before {
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
 }

 .header-style-1 .menu-item:hover .menu-link:before {
     background-color: #f2b410;
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
 }

 .header-style-1 a.menu-link {
     font-family: 'Poppins';
     text-align: inherit;
     word-spacing: 0px;
     font-size: 16px;
     letter-spacing: 0px;
     line-height: 25.6px;
     position: relative;
     font-weight: normal;
     font-style: normal;
     color: #ffffff;
 }

 .header-style-1 .search::before,
 .header-style-1 .search::after {
     border-color: #fff;
 }

 .header-style-1 .search__input {
     color: #ffffff;
 }

 .header-style-1 .search__input {
     font-family: inherit;
     font-size: 6vw;
     line-height: 1;
     display: inline-block;
     box-sizing: border-box;
     width: 85%;
     max-width: 85%;
     padding: 0;
     color: #ffffff;
     border: none;
     border-bottom: 2px solid;
     height: 190px;
     background-color: transparent;
 }

 .header-style-1 .search {
     position: fixed;
     z-index: 9999;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
 }

 .header-style-1 .search__info {
     color: #fff;
 }

 .header-style-1 .search {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background: rgba(0, 0, 0, 0.95);
 }

 /*-----------------------------------------------------------------------------------*/
 /*  2b.  HEADER INFO
/*-----------------------------------------------------------------------------------*/
 .head-item {
     float: left;
 }



 .info-wrap {
     position: relative;
     display: inline-block;
     margin-right: 15px;
 }

 .info-wrap:last-child {
     margin-right: 0;
 }


 .head-info-icon {
     margin-right: 5px;
 }


 #header .info-wrap {
     padding: 20px 0;
 }

 #header .info-wrap i {
     vertical-align: middle;
     color: #ffffff;
     cursor: pointer;
     font-size: 18px;
 }

 #header.header-alt .info-wrap i {
     color: #000000;
 }

 #header .header-info-url a {
     color: #ffffff;
     padding: 10px 30px;
 }

 .logo {
     display: flex;
     float: left;

 }

 .header-style-1.header-alt ul.sm-clean>li {
     padding-top: 10px;
     padding-bottom: 0;
     position: relative;
 }

 .header-style-1-wrap .main-menu ul.sm-clean>li+li {
     margin-left: 30px;
 }

 .header-style-1 .btn--search-close i {
     color: #ffffff;
     cursor: pointer;
 }

 .header-style-1 .search__input::placeholder {
     color: #fff;
 }

 .search-wrap button {
     padding: 0;
 }

 /*-----------------------------------------------------------------------------------*/
 /*  2c.  HEADER ALT
/*-----------------------------------------------------------------------------------*/
 .header-alt .head-info-icon,
 .header-alt.head-info-text {
     display: inline-block;
     color: #ffffff;
 }

 .header-alt .menu-item:hover .menu-link:before {
     background-color: #f2b410;
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
 }

 .header-alt a.menu-link:before {
     content: '';
     position: absolute;
     bottom: -10px;
     left: 0;
     width: 100%;
     height: 2px;
     background: #f2b410;
     -webkit-transform: scale3d(0, 5, 1);
     transform: scale3d(0, 5, 1);
     -webkit-transform-origin: 0% 50%;
     transform-origin: 0% 50%;
     -webkit-transition: -webkit-transform 0.3s;
     transition: transform 0.3s;
     -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
     transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
 }

 .header-alt a.menu-link {
     color: #000000;
     font-family: 'Poppins';
     text-align: inherit;
     line-height: 25.6px;
     font-weight: normal;
     padding: 0.65em 0 0;
     font-style: normal;
     font-size: 16px;
 }

 .header-alt.header-expanded a.menu-link {
     color: #000000;
 }

 .header-alt .head-info-icon,
 .header-alt .head-info-text {
     display: inline-block;
     color: #000000;
 }

 .header-alt.header-expanded {
     background-color: #ffffff;
 }

 .header-clear {
     display: flex;
     align-items: center;
 }

 .animated {
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
 }

 .animated {
     -webkit-animation-duration: 1.25s;
     animation-duration: 1.25s;
 }


 /*-----------------------------------------------------------------------------------*/
 /*  3b.  HOME SECTION GEDUNG
/*-----------------------------------------------------------------------------------*/
 .main-hero {
     position: relative;
     background-image: url(img/web-developer-multitasking.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

.main-hero img {
    border-radius: 50%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 150px;
    object-fit: cover;
    max-height: 150px;
}
 .video-background {
     z-index: 1;
     position: relative;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: #0b0b0b;
     width: 100%;
     height: 100%;
     z-index: 2;
 }

 .video-background .background-overlay {
     background-color: #0b0b0b;
 }

 .main-video video {
     width: 100%;
 }

 .image-title {
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     text-align: center;
     display: flex;
     bottom: -100px;
     align-content: center;
     align-self: end;
     align-items: center;
 }

 .image-title h2 {
     font-size: 9rem;
     line-height: 100px;
     margin-top: 0px;
     color: #ffffff;
 }

 .image-title h5 {
     font-family: "Raleway", Sans-serif;
     font-size: 16px;
     font-weight: 500;
     letter-spacing: 12px;
     margin-top: 0px;
     color: #ffffff;
 }

 .image-title p {
     color: #fff;
     margin-bottom: 0;
     line-height: 1.5;
     font-size: 1.8rem;
     color: #ffffff;
     padding: 0 14%;
 }

 .image-title a.button-basic-1 {
     margin-top: 20px;
     font-size: 1.3rem;
     padding: 12px 30px;
     -webkit-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
     transition: all .1s ease-in-out;
 }

 .image-title a.button-basic-1:hover {
     -webkit-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
     transition: all .1s ease-in-out;
 }


 /*-----------------------------------------------------------------------------------*/
 /*  3d.  PORTFOLIO BLOCK SECTION
/*-----------------------------------------------------------------------------------*/

 span.line {
     width: 10%;
     background: #f7c51e;
     display: block;
     margin-bottom: 20px;
     position: relative;
     border-top: 3px solid #f7c51e;
 }

 span.line.center {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 30px;
 }

 .portfolio-block {
     position: relative;
     background-color: #262626;
     padding: 100px 0 100px 0;
     padding-top: 100px;
     padding-right: 0px;
     padding-bottom: 100px;
     padding-left: 0px
 }

 .portfolio-block .portfolio-button {
     display: flex;
     align-items: center;
     justify-content: flex-end;
 }

 .portfolio-block .button-basic-1:hover {
     color: #ffffff;
     background-color: #f7c51e;
     border-color: #f7c51e;
 }

 .portfolio-block button.button {
     font-size: 14px;
     font-weight: 500;
     color: #ffffff;
     margin-right: 5px;
     padding: 7px 15px;
     border: 1px solid transparent;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out
 }

 .portfolio-block button.button:hover {
     border: 1px solid #f7c51e;
 }

 .portfolio-block button.button.is-checked {

     border: 1px solid #f7c51e;

 }

 .portfolio-block .button-group {
     margin-bottom: 40px;
 }

 .portfolio-block .portfolio-image {
     position: relative;
     display: inline-block;
     margin: 0;
     max-width: 100%;
     width: 100%;
     background-color: transparent;
     color: #fff;
     overflow: hidden;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-transition: all .35s ease;
     transition: all .35s ease
 }

 .portfolio-block .portfolio-image figcaption {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     padding: 30px;
     align-self: center;
     display: flex;
     z-index: 2;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     justify-content: center;
     align-items: center;
 }

 .portfolio-block .portfolio-block-grid .element-item:hover figcaption {
     background-color: rgba(0, 0, 0, 0.8);
     -webkit-transition: all .35s ease;
     transition: all .35s ease
 }

 .element-item ul{
     padding-left: 20px;
 }

 .portfolio-title p {
     color: #aaaaaa;
     font-family: 'Lato';
     font-weight: normal;
     font-size: 14px;
 }

 .portfolio-title p.gedung-text {
     color: #000000;
 }

 .element-item{
     margin-bottom: 30px;
 }
figure.portfolio {
    display: flex;
}
 
.item-wrap .portfolio img{
width: 50%;
max-width:50%;
float:left;
}
.portfolio-block-grid.column.column-1 {
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
}
 .portfolio-block .item-wrap {
     padding-right: calc(15px/2);
     padding-left: calc(15px/2);
 }

 div#infscr-loading {
     position: absolute;
     bottom: -20px;
     left: 0;
     display: flex;
     right: 0;
     justify-content: center;
 }

 .portfolio-block .portfolio-block-wrap .caption-inside {
     text-align: center;
 }

 
 /*-----------------------------------------------------------------------------------*/
 /*  5. PORTFOLIO PAGE
/*-----------------------------------------------------------------------------------*/

 .page-porto {
     background-color: #ffffff;
     padding-top: 50px;
     padding-bottom: 50px;
 }

 .page-porto.portfolio-block button.button {
     color: #000000;
     border-color: transparent;
 }

 .page-porto.portfolio-block button.button:hover {
     color: #000000;
     border: 1px solid #000000;
 }

 .page-porto.portfolio-block button.button.is-checked {
     border-color: #000000;
 }

 .page-porto .button-basic-1 {
     margin-top: 20px;
     padding: 10px 25px;
     border: 1px solid #000;
     background-color: transparent;
     color: #000;
     -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
     font-family: 'Lato';
     font-weight: normal;
     letter-spacing: 2px;
     transition: all .3s ease;
 }

 .page-porto .button-basic-1:hover {
     color: #ffffff;
     border-color: #f7c51e;
     background-color: #f7c51e;
     transform: translateY(0);
     box-shadow: 0 0 17px 1px rgb(0 0 0 / 34%);
 }

 .grid.portfolio-block-grid .element-item {
     margin-bottom: 10px !important;
 }

 .page-porto .element-item .caption-inside h3 {
     opacity: 0;
     box-sizing: border-box;
     -webkit-transition: all .35s ease;
     transition: all .35s ease;
     -webkit-transform: unset;
     transform: unset;
 }

 .page-porto .element-item .caption-inside h5 {
     opacity: 0;
     font-family: 'Raleway';
     font-weight: normal;
     font-style: italic;
     box-sizing: border-box;
     -webkit-transition: all .35s ease;
     transition: all .35s ease;
     -webkit-transform: unset;
     transform: unset;
     -webkit-transform: unset;
     transform: unset;
 }

 .page-porto .element-item:hover h3 {
     -webkit-transform: translate(0, 0) scale(1) rotate(0);
     transform: translate(0, 0) scale(1) rotate(0);
     opacity: 1;
     -webkit-transition-delay: .35s;
     transition-delay: .35s;
     display: block;
 }

 .page-porto .element-item:hover h5 {
     opacity: 1;
     -webkit-transition-delay: .35s;
     transition-delay: .35s;
     display: block;
     -webkit-transform: translate(0, 0) scale(1) rotate(0);
     transform: translate(0, 0) scale(1) rotate(0);
 }

 .page-porto p.gedung-text {
     color: #555555;
     font-size: 15px;
 }

 .portfolio-content p {
     color: #555555;
 }

  /*-----------------------------------------------------------------------------------*/
 /*  7. CONTACT PAGE
/*-----------------------------------------------------------------------------------*/
 .page-contact {
     position: relative;
     background: #ffffff;
 }

 .iframe-wrap iframe {
     width: 100%;
     height: 480px;
     border: 0;
 }

 .social-contact-wrap {
     display: flex;
     gap: 20px;
     justify-content: start;
     margin-bottom: 20px;
 }

 .social-info h4 {
     margin-bottom: 0;
     font-weight: 600;
 }

 .social-icon i {
     width: 1em;
     height: 1em;
     color: #f7c51e;
     font-size: 30px;
 }

 .page-contact .form-wrap {
     border-style: solid;
     border-width: 1px 1px 1px 1px;
     border-color: #aaaaaa;
     box-shadow: 2px 2px 22px -9px rgb(0 0 0 / 50%);
     transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
     padding: 50px 30px 30px 30px
 }

 .form-wrap .contact-bordered-item input {
     width: 100%;
     max-width: 100%;
     padding-left: 10px;
     background-color: transparent;
     position: relative;
     border: 0;
     color: #fff;
     outline: none;
 }

 .form-wrap {
     background-color: transparent;
     border: 0;
 }

 .contact-ef {
     position: absolute;
     background-color: #cdcdcc;
     transition: .5s cubic-bezier(.23, 1, .32, 1);
 }

 .border-form-top {
     top: 0;
     left: 0;
     height: 1px;
     width: 100%;
     background-color: #cdcdcc;
 }

 .border-form-left {
     bottom: 0;
     left: 0;
     transform-origin: 0 100%;
     width: 1px;
     height: 100%;
     transform: scaleY(0) translateZ(0);
 }

 .border-form-bottom {
     bottom: 0;
     right: 0;
     transform-origin: 100% 0;
     width: 100%;
     height: 1px;
     transform: scaleX(0) translateZ(0);
 }

 .border-form-right {
     top: 0;
     right: 0;
     transform-origin: 0 0;
     width: 1px;
     height: 100%;
     transform: scaleY(0) translateZ(0);
 }

 .contact-form-style-1 .contact-bordered {
     position: relative;
     height: 50px;
     margin-bottom: 30px;
 }

 .contact-form-style-1 .contact-bordered input {
     position: relative;
     width: 100%;
     border-color: transparent;
     background-color: transparent;
     margin-bottom: 40px;
 }

 .contact-form-style-1 .contact-bordered:active .border-form-right,
 .contact-form-style-1 .contact-bordered:hover .border-form-right,
 .contact-form-style-1 .contact-bordered:focus .border-form-right {
     transform: scaleY(1) translateZ(0);
 }

 .contact-form-style-1 .contact-bordered:active .border-form-bottom,
 .contact-form-style-1 .contact-bordered:hover .border-form-bottom,
 .contact-form-style-1 .contact-bordered:focus .border-form-bottom {
     transform: scaleX(1) translateZ(0);
 }

 .contact-form-style-1 .contact-bordered:active .border-form-left,
 .contact-form-style-1 .contact-bordered:hover .border-form-left,
 .contact-form-style-1 .contact-bordered:focus .border-form-left {
     transform: scaleY(1) translateZ(0);
 }

 .contact-form-style-1 input[type="button"] {
     background-color: #6750fe;
     width: 100%;
     padding: 10px 50px;
     border-width: 0px;
     line-height: 1;
     font-weight: 300;
     border: 2px solid #6750fe;
     height: 40px;
     border-radius: 40px;
 }



.social-share {
    position: relative;
    text-align: center;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.social-share ul {
     padding: 0;
     margin-bottom: 20px;
     margin-top: 0;
 }

.social-share ul li {
     float: left;
     margin-right: 10px;
 }
 .social-share ul li a{
color: #ffffff;
 }


 .page-contact .contact-form-style-1 input[type=submit] {
     background-color: #f2b410;
     width: 100%;
     padding: 10px 50px;
     border-width: 0;
     line-height: 1;
     font-weight: 300;
     height: 40px;
     font-size: 16px;
     text-transform: capitalize;
     transition: all .2s ease-in-out;
 }

 .page-contact .contact-form-style-1 .button-basic-1:hover {
     background-color: #333333;
     color: #ffffff;
     transform: translateY(0);
     transition: all .2s ease-in-out;

 }

 .page-contact .social-share a {
     padding: 7px 8px;
     color: #fff;
     border-radius: 3px;
 }

 .page-contact .social-share .facebook {
     background-color: #3b5998;
 }

 .page-contact .social-share .twitter {
     background-color: #1da1f2;
 }

 .page-contact .social-share .google-plus {
     background-color: #dd4b39;
 }
